doctype html
html(lang='fr')
	head
		meta(charset="UTF-8")
		title Monkey Manager 3000
		link(rel='shortcut icon', type='image/x-icon', href='/Content/Logo/Logo-Link.png')
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
		script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
		link(rel='stylesheet', href='/Css/StyleSheet.css')
		// Add icon library
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
		// GoogleFont
		link(href='https://fonts.googleapis.com/css?family=Great+Vibes', rel='stylesheet')
		// Mon script
		script(src='/JS/Script.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script.
			$(document).ready(function () {
			$('.js-scrollTo').on('click', function () { // Au clic sur un élément
			var page = $(this).attr('href'); // Page cible
			var speed = 750; // Durée de l'animation (en ms)
			$('html, body').animate({ scrollTop: $(page).offset().top }, speed); // Go
			return false;
			});
			});
	body
		nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top(style='background-color: #ffffff;')
			a.navbar-brand.justify-content-start.d-flex(href='#')
				img(src='Content/Logo/Logo-Texte.png', alt='Logo', style='height:30%; width:30%')
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarNav.collapse.navbar-collapse.justify-content-center.d-flex
				ul.navbar-nav
					li.nav-item.active
						a.nav-link(href='#Home')
							| Home 
							span.sr-only (current)
					li.nav-item
						a.nav-link(href='#MonkeyManager3000') Monkey Manager 3000
					li.nav-item.dropdown
						a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
							| Singes
						.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
							a.dropdown-item(href='#Singes') Ajouter
							a.dropdown-item(href='#Singes') Modifier
							a.dropdown-item(href='#Singes') Supprimer
							a.dropdown-item(href='#Singes') Afficher
							a.dropdown-item(href='#Singes') Rechercher
					li.nav-item.dropdown
						a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
							| Enclos
						.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
							a.dropdown-item(href='#Enclos') Ajouter
							a.dropdown-item(href='#Enclos') Modifier
							a.dropdown-item(href='#Enclos') Supprimer
							a.dropdown-item(href='#Enclos') Afficher
							a.dropdown-item(href='#Enclos') Rechercher
					li.nav-item
						a.nav-link(href='#Contact') Contact
			a.navbar-brand.justify-content-end.d-flex(href='#')
				img(src='Content/Logo/Logo.png', alt='Logo', style='height:17%; width:17%;')
				// style="height:30px; margin-left: 30px;">
		header
			#Home.text-center(style='height:900px; margin-top:10%;')
				//
					<div style="height:150px; background-color: rgba(0, 0, 0, 0.55) ;">
					<h26>Site en développement</h26>
					</div>
				.center-block(style='background-color:rgba(255, 255, 255, 0.43); padding-top:70px;padding-bottom:70px; width:70%;')
					img(src='Content/Logo/Logo-Complet.png', alt='Logo', style='width:60%;')
			#MonkeyManager3000.center-block(style='background-color:rgba(255, 255, 255, 1); padding-top:70px;padding-bottom:70px; width:100%;  padding-left:70px;  padding-right:70px;')
				h1 Monkey Manager 3000
				p
					br
					|                     Monkey Manager 3000 est une solution de gestion pour la reserve du parc Henri Vinay.
					br
					br
					|                     Il y a deux notions tres importantes au sein de cette solution, les singes et les enclos.
					br
					|                     Chacun de ces element peut etre cree, lu en detail, mis a jour, supprime et lie entre eux.
					br
					br
					|                     Les relations se decrivent comme il suit :
					br
				ul
					li  Un singe appartient a un seul enclos
					li  Un enclos peut contenir plusieurs singe
				p
			.text-center(style='height:100px; margin-top:10%;')
			#Singes.center-block(style='background-color:rgba(255, 255, 255, 1); padding-top:70px;padding-bottom:70px; width:100%;  padding-left:70px;  padding-right:70px;')
				h1 Singes :
				br
				#AddSinge
					button.btn.btn-primary.btn-block(type='button', onclick="window.location.href='/monkey#AddSinge'") Ajouter
				#PutSinge
					button.btn.btn-primary.btn-block(type='button',onclick="window.location.href='/monkey#PutSinge'") Modifier
				#DelSinge
					button.btn.btn-primary.btn-block(type='button', onclick="window.location.href='/monkey#DelSinge'") Supprimer
				#ShowSinge
					button.btn.btn-primary.btn-block(type='button', onclick="window.location.href='/monkey'") Afficher
			.text-center(style='height:100px; margin-top:10%;')
			#Enclos.center-block(style='background-color:rgba(255, 255, 255, 1); padding-top:70px;padding-bottom:70px; width:100%;  padding-left:70px;  padding-right:70px;')
				h1 Enclos :
				br
				#AddEnclos
					button.btn.btn-primary.btn-block(type='button', onclick="window.location.href='/enclos#AddEnclos'") Ajouter
				#PutEnclos
					button.btn.btn-primary.btn-block(type='button',onclick="window.location.href='/enclos#PutEnclos'") Modifier
				#DelEnclos
					button.btn.btn-primary.btn-block(type='button', onclick="window.location.href='/enclos#DelEnclos'") Supprimer
				#ShowEnclos
					button.btn.btn-primary.btn-block(type='button', onclick="window.location.href='/enclos'") Afficher
			
			
			#Contact.text-center(style='height:100px; margin-top:10%;')
			.center-block(style='background-color:rgba(255, 255, 255, 1); padding-top:70px;padding-bottom:70px; width:100%;  padding-left:70px;  padding-right:70px;')
				h1 Contact
				.container
					br
					.row
						.col.text-center
							h2(style='text-decoration:underline;') Chabert Leo
						.col.text-center
							h2(style='text-decoration:underline;') Le Boullec Lucile
					br
					.row
						.col.text-center
							img(src='Content/Picture/moi.png', alt='Logo', style='height:100%; width:70%')
						.col.text-center
							img(src='Content/Picture/lucile.png', alt='Logo', style='height:100%; width:70%')
					.row(style='margin-top:25px;')
						.col.text-center
							// LinkedIn
							a.btn-floating.btn-gplus(type='button')
								i.fa.fa-linkedin.fa-2x
						.col.text-center
							// LinkedIn
							a.btn-floating.btn-gplus(type='button')
								i.fa.fa-linkedin.fa-2x
			.text-center(style='height:100px; margin-top:10%;')
		
		
		
		
		// Footer
		footer.page-footer.font-small.mdb-color.lighten-3.pt-4(style='background-color: #ffffff;')
			// Footer Links
			.container.text-center.text-md-left
				// Grid row
				.row
					// Grid column
					.col-md-4.col-lg-3.mr-auto.my-md-4.my-0.mt-4.mb-1
						// Content
						h5.font-weight-bold.text-uppercase.mb-4 Monkey Manager 3000
						p Merci d'avoir visite la page de Monkey Manager 3000.
						p
							| Nous esperons que cette aplication aurras repondu a toutes vos attentes.
					// Grid column
					hr.clearfix.w-100.d-md-none
					// Grid column
					.col-md-2.col-lg-2.mx-auto.my-md-4.my-0.mt-4.mb-1
						// Links
						h5.font-weight-bold.text-uppercase.mb-4 About
						ul.list-unstyled
							li
								p
									a(href='#!') PROJECTS
							li
								p
									a(href='#!') ABOUT US
							li
								p
									a(href='#!') BLOG
							li
								p
									a(href='#!') AWARDS
					// Grid column
					hr.clearfix.w-100.d-md-none
					// Grid column
					.col-md-4.col-lg-3.mx-auto.my-md-4.my-0.mt-4.mb-1
						// Contact details
						h5.font-weight-bold.text-uppercase.mb-4 Address
						ul.list-unstyled
							li
								p
									i.fa.fa-home.mr-3
									|  Puy en Velay, 43000, FR
							li
								p
									i.fa.fa-envelope.mr-3
									|  Monkey3000@contact.fr
							li
								p
									i.fa.fa-phone.mr-3
									|  + 01 234 567 88
							li
								p
									i.fa.fa-print.mr-3
									|  + 01 234 567 89
					// Grid column
					hr.clearfix.w-100.d-md-none
					// Grid column
					.col-md-2.col-lg-2.text-center.mx-auto.my-4
						// Social buttons
						h5.font-weight-bold.text-uppercase.mb-4 Follow Us
						ul.list-unstyled
							li
								p
									// Facebook
									a.btn-floating.btn-fb(type='button')
										i.fa.fa-facebook.fa-2x
							li
								p
									// Twitter
									a.btn-floating.btn-tw(type='button')
										i.fa.fa-twitter.fa-2x
							li
								p
									// Google +
									a.btn-floating.btn-gplus(type='button')
										i.fa.fa-google-plus.fa-2x
					// Grid column
					// Grid row
					// Footer Links
					// Copyright
					.footer-copyright.text-center.py-3(style='background-color: #e6e6e6;')
						|  2018 Copyright:
						a(href='http://leochabert.free.fr/')  leochabert.free.fr
					// Copyright
					// Footer
